html, body {
    height: 100%;
}

table {
    width: 100%;
    height: 100%;
}

table td {
    text-align: center;
    vertical-align: middle;
}

table button {
    width: 200px;
    height: 50px;
    margin: 15px;
}

.hidden {
    display: none;
}

.light {
    background-color: #fdf6e3;
}

.bright {
    background-color: #cb4b16;
}

#content {
    font-size: 50px;
    margin: 50px;
}
